.Bottom-Panel{
    display: flex;

}
input{
    margin-right: 4px;
    outline: none;
}

.el{
    flex-grow: 1;
    padding-left: 20px;

}

.bad{
    background: rgb(252, 176, 176);
    outline: none;
    border: 1px solid black;
}